:root {
  /* Note [var(--xfont) doesn't work]
   * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   *
   * Unfortunately, CSS custom properties don't seem to work with comma
   * separated lists of properties, so they don't work as font macros.
   *
   * To use a font-stack, inline its definition with a comment pointing to the
   * correct would-be variable...
   *
   * (https://modernfontstacks.com/)
   *
   * */

  /* Transitional */
  /* --xfont-main: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; */

  /* Geometric Humanist */
  /* --xfont-heading: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */

  /* Classical Humanist */
  --xfont-heading: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;

  /* Old-style */
  --xfont-main: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

  /* Monospace Code */
  --xfont-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Cursive */
  --xfont-cursive: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

  /* ROMES:TODO: Colorscheme */
}

.sourceCode {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; /* --xfont-code */
}

html {
  /* background-image: url("/images/us.jpeg"); */
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; /* --xfont-main */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-bottom: 2em;
}

main {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0em 1.5em;
  font-size: 105%;
}

body > nav {
  /* gap: 1.5rem; */
  /* align-items: center; */
  border-bottom: 1px solid black;
}

body > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 2rem;

  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; /* --xfont-heading */
}

h1,h2,h3 {
  margin-top: 1.75rem;
}

.header-section-number {
  color: orange;
  margin-right: 0.25em;
}

main > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 2em 2em 2em 2em;
}

main > header div.title {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

main > header > div.title > h1 {
  margin: 1em 0;
}

main > header > div.title > p {
  margin: 1em 0;
}

main > header > .description {
  margin-top: 0;
}

/* Tags
   ---- */
ul.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

ul.tags > li {
  border-radius: 0.2em;
  background-color: black;
  padding: 0.25em 0.5em;
  color: white;
}

ul.tags > li > a {
  text-decoration: none;
  color: white;
}

ul.tags > li > a:hover {
  text-decoration: underline;
}

/* Table of Contents
   ----------------- */
.toc {
  padding: 1em 0 1em 2em; /* top right bottom left */
  float: right;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; /* --xfont-heading */
}

.toc > .header {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

.toc > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 150%;
}

.toc .toc-section-number {
  color: orange;
  margin-right: 0.5em;
}

.toc a {
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .toc {
    float: none;
    padding: 1em 2em 1em 2em; /* if we aren't floating right, we want to the padding to be even */
  }
}

/* Specific tags
   ------------- */
.tag-haskell {
    background: linear-gradient(90deg, #5e5086, #8f4e8b);
}

/* TODO: MATHJAX */
