<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>romes - $title$</title>
        $if(description)$
        <meta name="description" content="$description$">
        $endif$
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body class="noShadow">
        <main>
            <!-- <h1>$title$</h1> -->
            $body$
        </main>
        <nav>
            <ul>
                <li class="logo"><a href="/">romes</a></li>
                <li><a href="/archive.html">archive</a></li>
                <li>music</li>
                <li><a href="/papers.html">papers</a></li>
                <li><a href="https://github.com/alt-romes" target="_blank">github</a></li>
                <br/>
                <button onclick="document.body.classList.toggle('dark')">*</button>
                <br/>
                <button
                    onclick="document.body.classList.toggle('noShadow')">**</button>
            </ul>
        </nav>
        <script>
            opt = ['bengali', 'cambodian', 'devanagari', 'georgian', 'hebrew', 'kannada', 'lao', 'mongolian', 'myanmar', 'oriya', 'thai', 'tibetan', 'hiragana', 'katakana-iroha']; // 'cjk-earthly-branch', 'cjk-heavenly-stem',
            r = Math.floor(Math.random() * opt.length);
            Array.prototype.map.call(document.getElementsByTagName('ul'), x => x.style['list-style-type'] = opt[r]);
        </script>
    </body>
</html>
